/* Подключение стилей */
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Иконочный шрифт */
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-fb:before {
  content: "\e900";
}

._icon-insta:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

/* Обнуление */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  line-height: 1;
  font-family: "Heebo";
}

input,
button,
textarea {
  font-family: "Heebo";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #21243d;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

/* Основные стили макета */
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
   flex-direction: column;
}

._container {
  max-width: 856px;
  margin: 0 auto;
}

.title {
  font-size: 44px;
  font-weight: 700;
  color: #21243d;
  line-height: 60px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.title-posts {
  font-size: 22px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
   object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: relative;
  z-index: 100;
}

.header__content {
  max-width: 1052px;
  padding: 0px 12px;
  margin: 0px auto;
}

.header__menu {
  padding: 10px 0;
  height: 82px;
 align-items: center;
  display: flex;
 justify-content: flex-end;
}

.menu__list li {
  margin: 0px 0px 30px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: #ff6464;
}

.icon-menu {
  display: none;
}

.hello {
  padding: 38px 0px 70px 0px;
}

.hello__container {
  display: flex;
}

.hello__content {
 align-items: flex-start;
  padding: 18px 110px 0px 0px;
 flex: 1 1 auto;
}

.hello__content *:last-child {
  margin-bottom: 0;
}

.hello__title {
  margin: 0px 0px 24px 0px;
}

.hello__text {
  margin: 0px 0px 32px 0px;
}

.hello .btn {
  background-color: #ff6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  line-height: 145%;
  height: 47px;
  display: inline-flex;
 align-items: center;
 justify-content: center;
  text-align: center;
  padding: 0px 21px;
  transition: background-color 0.3s ease 0s;
}

.hello .btn._fw {
  width: 100%;
}

.hello__btn {
  margin: 0px 0px 25px 0px;
}

.hello__avatar {
  margin-top: -1px;
  margin-right: 2px;
 flex: 0 0 243px;
  height: 243px;
  position: relative;
  border-radius: 50%;
 box-shadow: -5px 13px 0px 0px #edf7fa;
}

.hello__avatar img {
  max-width: 100%;
}

.recent-posts {
  background: #edf7fa;
  padding: 25px 0px 13px 0px;
}

.recent-posts__header {
  display: flex;
  margin: 0px 0px 18px 0px;
}

.recent-posts__title {
  padding: 0px 20px 0px 0px;
 flex: 1 1 auto;
}

.recent-posts__view-all {
  margin-top: 3px;
  flex: 0 0 auto;
  font-size: 16px;
  line-height: 23px;
  color: #00a8cc;
}

.recent-posts__items {
  margin: 0px -10px;
}

.recent-posts__column {
  flex: 0 1 50%;
  padding: 0px 10px;
  margin: 0px 0px 17px 0px;
}

.recent-post {
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 24px 23px 28px 23px;
}

.recent-post *:last-child {
  margin-bottom: 0;
}

.recent-post__title {
  display: inline-block;
  color: inherit;
  font-size: 26px;
  font-weight: 700;
  line-height: 146.1538461538%;
  transition: color 0.3s ease 0s;
  margin: 0px 0px 25px 0px;
}

.recent-post__info {
  margin: 0px 0px 18px 0px;
  font-size: 18px;
  line-height: 144.4444444444%;
}

.recent-post__info span {
  margin: 0px 22px 0px 22px;
}

.recent-post__text {
  margin: 0px 0px 15px 0px;
}

.featured-works {
  padding: 38px 0px 80px 0px;
}

.featured-works__title {
  margin: 0px 0px 40px 0px;
}

.works__items {
  padding: 0px 0px 60px 0px;
}

.works__main-title {
  margin: 0px 0px 45px 0px;
}

.works__item {
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 30px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.works__item:last-child {
  margin-bottom: 0;
}

.works__image {
  flex: 0 0 246px;
  display: block;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;
}

.works__body {
 flex: 1 1 auto;
}

.works__title {
  color: inherit;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: 146.6666666667%;
  margin: -10px 0px 19px 0px;
  transition: color 0.3s ease 0s;
}

.works__info {
  display: flex;
 align-items: center;
  margin: 0px 0px 23px 0px;
}

.works__year {
  background: #142850;
  border-radius: 16px;
  height: 25px;
  padding: 0px 10px;
  display: inline-flex;
 justify-content: center;
 align-items: center;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}

.works__category {
  color: #8695a4;
  font-size: 20px;
  margin: 0px 0px 0px 25px;
}

.footer {
  text-align: center;
  padding: 50px 0;
}

.footer__social {
  margin: 0px 0px 30px 0px;
}

.page {
  padding: 90px 0px 0px 0px;
   flex: 1 1 auto;
}

.social {
  display: flex;
 justify-content: center;
  align-items: center;
}

.social__item {
  transition: color 0.3s ease 0s;
  margin: 0px 17px;
  font-size: 30px;
  color: inherit;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
  }

  .menu__list li {
    margin: 0px 34px 0px 0px;
  }

  .recent-posts__items {
    display: flex;
  }

  .works__item {
    display: flex;
    align-items: flex-start;
  }

  .works__body {
    padding: 0px 0px 0px 15px;
  }
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #ff6464;
  }

  .recent-post__title:hover {
    color: #ff6464;
  }

  .works__title:hover {
    color: #ff6464;
  }

  .social__item:hover {
    color: #ff6464;
  }
}

@media (min-width: 992px) {
  .hello .btn:hover {
    background-color: #bb4949;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .title-posts {
    text-align: center;
    font-size: 18px;
  }

  .header__content {
    padding: 0px 18px;
  }

  .header__menu {
    height: 50px;
  }

  .menu__body {
    transform: translate(0px, -100%);
    transition: transform 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .menu__body._active {
    transform: translate(0px, 0%);
  }

  .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 1.6px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .hello {
    padding: 0px 0px 60px 0px;
  }

  .hello__container {
    text-align: center;
   flex-direction: column-reverse;
  }

  .hello__content {
    padding: 0px 0px 0px 0px;
  }

  .hello__title {
    margin: 0px auto 20px;
    max-width: 312px;
  }

  .hello__text {
    padding: 0px 15px;
    margin: 0px 0px 27px 0px;
  }

  .hello__btn {
    margin: 0px 0px 20px 0px;
  }

  .hello__avatar {
    width: 170px;
    max-height: 170px;
    margin: 0px auto 20px;
  }

  .recent-posts {
    padding: 22px auto 23px;
  }

  .recent-posts__title {
    padding: 0;
  }

  .recent-posts__view-all {
    display: none;
  }

  .recent-post {
    width: 354px;
    padding: 12px 19px 19px;
	 margin: 0 auto;
  }

  .recent-post__title {
    line-height: 30px;
    font-size: 22px;
    margin: 0px 0px 14px 0px;
  }

  .recent-post__info span {
    margin: 0 19px;
  }

  .recent-post__info {
    font-size: 16px;
    margin: 0px 0px 18px 0px;
  }

  .featured-works {
    padding: 25px 0px 180px 0px;
  }

  .featured-works__items {
    display: flex;
    overflow: auto;
  }

  .featured-works__items .works__item {
            flex: 0 0 90%;
    margin: 0px 15px 0px 0px;
  }

  .works__items {
    padding: 0px 0px 30px 0px;
  }

  .works__main-title {
    margin: 0px 0px 20px 0px;
  }

  .works__image {
    margin: 0px 0px 17px 0px;
    padding: 0px 0px 60% 0px;
  }

  .works__title {
    font-size: 24px;
  }

  .footer {
    padding: 30px 0;
  }

  .page {
    padding: 30px 0px 0px 0px;
  }
}